﻿@using Bol.Repository
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET Application By Simin Jacobs</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bol", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    <!--<li>@Html.ActionLink("About", "About", "Home")</li>-->
                    <!--<li>@Html.ActionLink("Accounts", "Index", "Account")</li>-->
                    <!--<li>@Html.ActionLink("Products", "Index", "Product")</li>-->
                    <li>@Html.ActionLink("Wishlist", "Index", "Wishlist")</li>
                    <li>@Html.ActionLink("Shopping cart", "Index", "ShoppingCart")</li>
                    @if (Session["email"] != null && new AccountRepository().getAccount(Session["email"].ToString()).isAdmin)
                    {
                        <li>@Html.ActionLink("Admin panel", "Index", "Admin")</li>
                    }
                </ul>
                @Html.Partial("LoginPartial")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>