﻿<ul class="nav navbar-nav navbar-right">
    @if (Session["Email"] == null)
    {
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    }
    else
    {
        <li>@Html.ActionLink("Logged in as " + Session["Email"], "Profile", "Account")</li>
        <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
    }
</ul>
