﻿
@{
    ViewBag.Title = "Index";
}

<h2>Admin panel</h2>
<hr />

<h3>Accounts</h3>
<a href="~/Account/Add">Add account</a>
<br />
<a href="~/Account">View/Edit accounts</a>
<hr />

<h3>Categories</h3>
<a href="~/Category/Add">Add category</a>
<br />
<a href="~/Category/Index">View/Edit categories</a>
<hr />

<h3>Products</h3>
<a href="~/Product/Add">Add product</a>
<br />
<a href="~/Product/Index">View/Edit products</a>
