﻿@using Bol.Models
@model Product

@{
    ViewBag.Title = "Add";
}

<h2>Add product</h2>

@using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <form class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { placeholder = "Name", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { placeholder = "Price", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Price, new { placeholder = "Price" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Brand, new { placeholder = "Brand", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Brand, new { placeholder = "Brand" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CategoryId, new { placeholder = "CategoryId", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.CategoryId, new { placeholder = "CategoryId" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { placeholder = "Description", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Description, new { placeholder = "Description" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Properties, new { placeholder = "Properties", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Properties, new { placeholder = "Properties" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Type, new { placeholder = "Type", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Type, new { placeholder = "Type" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Used, new { placeholder = "Used", @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.CheckBoxFor(m => m.Used)
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add product</button>
            </div>
        </div>
    </form>
}

@if (ViewData["Error"] != null)
{
    <div class="red">
        <p>@ViewData["Error"]</p>
    </div>
}

