﻿@using Bol.Models
@model Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit product</h2>

@if (Model != null)
{
    using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { placeholder = "Name", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { value = @Model.Name, placeholder = "Name" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Price, new { placeholder = "Price", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Price, new { value = @Model.Price, placeholder = "Price" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Brand, new { placeholder = "Brand", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Brand, new { value = @Model.Brand, placeholder = "Brand" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, new { placeholder = "CategoryId", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CategoryId, new { value = @Model.CategoryId, placeholder = "CategoryId" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { placeholder = "Description", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Description, new { value = @Model.Description, placeholder = "Description" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Properties, new { placeholder = "Properties", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Properties, new { value = @Model.Properties, placeholder = "Properties" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Type, new { placeholder = "Type", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Type, new { value = @Model.Type, placeholder = "Type" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Used, new { value = @Model.Used, placeholder = "Used", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.Used)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Update product</button>
                </div>
            </div>
        </form>
    }
}

@if (ViewData["Error"] != null)
{
    <div class="red">
        <p>@ViewData["Error"]</p>
    </div>
}


