﻿@using Bol.Models
@model List<Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<ul>
    @foreach (Product product in Model)
    {
        <li>
            <a href="@Url.Action("Edit", "Product", new { id = @product.Id })">@product</a>
        </li>
    }
</ul>

<a href="~/Product/Add">Voeg een product toe</a>
