﻿@using Bol.Models
@model Product
@{
    ViewBag.Title = "View";
}

<h2>@Model.Name</h2>

Name: @Model.Name <br />
Price: @Model.Price <br />
CategoryId: @Model.CategoryId <br />
Brand: @Model.Brand <br />
Description: @Model.Description <br />

<div class="form-group">
    <a href="@Url.Action("AddProduct", "ShoppingCart", new { id = @Model.Id })" class="btn btn-default">Add to cart</a>
    <a href="@Url.Action("AddProduct", "Wishlist", new { id = @Model.Id })" class="btn btn-default">Add to wishlist</a>
</div>




