﻿@using Bol.Models
@model List<ProductWithAmount>

@{
    ViewBag.Title = "Index";
}

<h2>Wishlist</h2>

@if (Model == null)
{
    <p>You need to login to view this page.</p>
}
else
{
    <ul>
        @foreach (ProductWithAmount product in Model)
        {
            <li>
                <a href="@Url.Action("View", "Product", new { id = @product.Product.Id })">@product.Product.Name</a> amount: @product.Amount
                <a href="@Url.Action("DeleteProduct", "Wishlist", new { id = @product.Product.Id })" class="btn btn-default">Remove 1 from wishlist</a>
            </li>
        }
    </ul>
}