﻿@using Bol.Models
@model Category
@{
    ViewBag.Title = "Add";
}

<h2>Add category</h2>

@using (Html.BeginForm("Add", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <form class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ParentCategoryId, new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.ParentCategoryId, new { placeholder = "Upper category id" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add category</button>
            </div>
        </div>
    </form>
}

@if (ViewData["Error"] != null)
{
    <div class="red">
        <p>@ViewData["Error"]</p>
    </div>
}

