﻿@using Bol.Models
@using Bol.Repository
@model List<Category>

@{
    ViewBag.Title = "Index";
}

<h2>Choose a category</h2>

<ul>
    @foreach (Category category in Model)
    {
        if (category.ParentCategoryId != 0)
        {
            continue;
        }
        <li>
            <h3>
                @if (Session["email"] != null && new AccountRepository().isAdmin(Session["email"].ToString()))
                {
                    <text>(id @category.Id)</text>
                }
                <a href="@Url.Action("View", "Category", new { id = @category.Id })">@category.Name</a>
            </h3>
            <ul>
                @foreach (Product product in category.Products)
                {
                    <li>
                        @if (Session["email"] != null && new AccountRepository().isAdmin(Session["email"].ToString()))
                    {
                            <text>(id @product.Id)</text>
                        }
                        <a href="@Url.Action("View", "Product", new { id = @product.Id })">@product.Name (&#8364 @product.Price)</a>
                    </li>
                }
            </ul>

            <ul>
                @foreach (Category childCategory in category.ChildCategories)
                {
                    if (childCategory.Products.Count == 0 && (Session["email"] == null || !new AccountRepository().isAdmin(Session["email"].ToString())))
                    {
                        continue;
                    }
                    <li>
                        <h4>
                            @if (Session["email"] != null && new AccountRepository().isAdmin(Session["email"].ToString()))
                    {
                                <text>(id @childCategory.Id)</text>
                            }
                            <a href="@Url.Action("View", "Category", new { id = @childCategory.Id })">@childCategory.Name</a>
                        </h4>
                        <ul>
                            @foreach (Product product in childCategory.Products)
                    {
                                <li>
                                    @if (Session["email"] != null && new AccountRepository().isAdmin(Session["email"].ToString()))
                                    {
                                        <text>(id @product.Id)</text>
                                    }
                                    <a href="@Url.Action("View", "Product", new { id = @product.Id })">@product.Name (&#8364 @product.Price)</a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </li>
    }
</ul>
