﻿@using Bol.Models
@using Bol.Repository
@model Category
@{
    ViewBag.Title = "View";
}

<h2>@Model.Name</h2>
<ul>
    @foreach (Product product in Model.Products)
    {
        <li>
            @if (Session["email"] != null && new AccountRepository().isAdmin(Session["email"].ToString()))
            {
                <text>(id @product.Id)</text>
            }
            <a href="@Url.Action("View", "Product", new { id = @product.Id })">@product.Name (&#8364 @product.Price)</a>
        </li>
    }
</ul>