﻿@using Bol.Models
@model Account

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@if (Model != null)
{
    using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <form class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { value = @Model.Email, placeholder = "Email" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { value = @Model.Name, placeholder = "Name" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Password, new { value = @Model.Password, placeholder = "Password" })
                </div>
            </div>

            <div class="form-group">
                <!-- Html.LabelFor(m => m.DateOfBirth, new { class = "control-label col-md-2" })-->
                <label for="dob" class="control-label col-md-2">Date of birth</label>
                <div class="col-sm-10">
                    <!--Html.TextBoxFor(m => m.DateOfBirth, new { value = "1-1-0001 00:00:00", placeholder = "dd-mm-yyyy hh:mm:ss" })-->
                    <input name="dob" placeholder="DD-MM-YYYY" value=@Model.DateOfBirth />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { value = @Model.PhoneNumber, placeholder = "Phone number" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.isAdmin, new { value = @Model.isAdmin, placeholder = "Admin", @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.isAdmin)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Apply</button>
                </div>
            </div>
        </form>
    }
}

@if (ViewData["Error"] != null)
{
    <div class="red">
        <p>@ViewData["Error"]</p>
    </div>
}