﻿@using Bol.Models
@model List<Account>

@{
    ViewBag.Title = "Index";
}

<h2>Accounts</h2>
<ul>
    @foreach (Account account in Model)
    {
        <li>
            <a href="@Url.Action("Edit", "Account", new { id = @account.Id })">(id @account.Id) @account.Email</a>
        </li>
    }
</ul>

